/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title{
	display: none;
	margin: 0;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// HEADER **************
.main-navigation{
	position: fixed;
	display: flex;
	padding-left:11%;
	padding-right:11%;
	height: 50px;
	width:100%;
	background-color: white;
	z-index: 999;
	border-bottom: solid 1px $color_border_box;
	.nav-logo-container{
		flex-basis: 50%;
		.logo-nav-box{
			max-height:40px;
			max-width: 52px;
		}
		img{
			max-height: 40px;
			margin-top: 5px;
		}
	}
	.menu-menu-1-container{
		width:100%;
		flex-basis: 50%;
		ul{
			display: flex;
			justify-content: flex-end;
			
			li{
				margin-top: 14px;
				margin-right: 30px;
				a{
					color:$color_button_background;
					font-family: 'Novecento', Arial, Helvetica, sans-serif;
					&:hover{
						color:$color__link-visited;
					}
				}
			}
		}
	}
}

// About Page***************


.page-template-about .post-10 .entry-title {
	margin: 0;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Novecento', Arial, Helvetica, sans-serif;
	font-size: 3rem;
}
.page-template-about .entry-content{
	margin-left: auto;
    margin-right: auto;
	width: 1000px;
	.container {
		margin-top: 60px;
		margin-left: 10%;
		margin-right: 10%;
		line-height: 2rem;
		h2{
		font-family: 'Novecento', Arial, Helvetica, sans-serif;
		text-align: center;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 2rem;
		}
	}
}


//front page
.home .site-main h2{
	text-align: center;
	font-size: 2.5rem;
	margin-top: 4rem;
	margin-bottom: 4rem; 
	font-family: 'Novecento', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.home-hero {
	min-height: 100vh;
	width: 100%;
	margin: auto;
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg);
	background-size: cover, cover;
	background-repeat: no-repeat;
	img {
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);	
	}
}

.site-main .product-type-box{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	text-align: center;
	line-height: 1.75rem;
	.product-type-box-wrapper{
		border: solid $color_border_box 1px;
		border-top: solid $color_border_box 5px;
		flex-basis: 23.5%;
		padding: 12px;
		&:hover{
			border: solid $color_footer_head 1px;
			border-top: solid $color_footer_head 5px;
		
		}
		.btn{
			color:white;
			padding: 10px 15px;
			background-color: $color_button_background;
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			&:hover{
				background-color:darken($color_button_background, 10%);
			}

		}
	}
	img{
		max-height: 70px;
		width: auto;
		max-width: none;
	}
}



.home .site-main .container{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	margin-bottom: 100px;
	.journal-block{
		height: 420px;
		flex-basis: 32%; 
		border: solid $color_border_box 1px;
		.journal-info{
			padding: 10px;
			font-size: 0.75rem;
			position: relative;
			.storytitle a{
				color: $color_button_background;
				font-weight: bold;
				font-size: 1.5rem;
				font-family: 'Novecento', Arial, Helvetica, sans-serif;
				margin-bottom: 20px;
				&:hover{
					color:black;
				}
			}
			.readentry {
				color: black;
				border: 1px solid black;
				padding: 10px 25px;
				&:hover{
					background-color: $color_button_background;
					color:white;
					border: none;
				}
			}
		}
	}
	img{
			min-height: 250px;
			max-height: 250px;
			// width: 
			border-bottom: solid $color_border_box 5px;
	}
}
// trying to fix headers of pages so that it doesnt pop over the nav bar
.entry-title,
.page-title {
	margin: 0;
}

//page.php flexbox

.default-template-page{
	display: flex;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	h2{
		font-family: 'Novecento', Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-size: 2.25rem;
		margin-top:50px;
		a{
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-size: 2.25rem;
			margin-top:50px;
			color: $color_button_background;
			&:hover{
				color: #2f1339;
			}
		}
	}
	.page-content-container{
		width: 74%;
		.page-content{
			padding-right:50px;
			margin-top: 75px;
			line-height: 2rem;
		}
	}
	.sidebar{
		width: 26%;
		border-left: solid $color_border_box 1px;
		padding-left: 50px;
		margin-top: 50px;
		.widget-title{
			text-align: left;
			font-size: 1.5rem;
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			font-weight: bold;
			padding-top:25px;
		}
		.day-of-week{
			font-weight: bold;
		}
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		a{
			color: $color_button_background;
			&:hover{
				color:$color__link-hover;
			}
		}
	}
}
.default-template-page header {
	display: none;
}

// contact form styling
.wpcf7-form {
	label{
		text-transform: uppercase;
		font-family: 'Novecento', Arial, Helvetica, sans-serif;
	}
}

//error-404

.error-404 .error-404-page-content{
	margin-top:50px;
	padding-right: 50px;
	margin-bottom: 100px;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	a{
		color: $color_button_background;
		&:hover{
			color:$color__link-hover;
		}
	}
}

//searchpage

.search-content-container{
	margin-bottom: 100px;
	padding-right:50px;
	width: 74%;
	.page-title{
		border-bottom: solid $color_border_box 1px;
		padding-bottom:20px;
		margin-top: 75px;
	}
	p{
		line-height: 2rem;
	}
	.readmore {
		color: black;
		border: 1px solid black;
		padding: 10px 25px;
		&:hover{
			background-color: $color_button_background;
			color:white;
			border: none;
		}
	}
}

//index page ******************************************************************
.default-index-page{
	display: flex;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	h2{
		font-family: 'Novecento', Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-size: 2.25rem;
		margin-top:50px;
		a{
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			font-size: 2.25rem;
			margin-top:50px;
			color: $color_button_background;
			&:hover{
				color: #2f1339;
			}
		}
	}
	.sidebar{
		width: 26%;
		border-left: solid $color_border_box 1px;
		padding-left: 50px;
		margin-top: 50px;
		.widget-title{
			text-align: left;
			font-size: 1.5rem;
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			font-weight: bold;
			padding-top:25px;
		}
		.day-of-week{
			font-weight: bold;
		}
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		a{
			color: $color_button_background;
			&:hover{
				color:$color__link-hover;
			}
		}
	}
	.readmore {
		color: black;
		border: 1px solid black;
		padding: 10px 25px;
		&:hover{
			background-color: $color_button_background;
			color:white;
			border: none;
		}
	}
}

.default-index-page .blog-container{
	width: 74%;
	padding-right: 50px;
	margin-top:50px;
	.entry-header{
		margin-top:50px;
		position: relative;
		.entry-title{
			background-color: $color_button_background;
			font-size: 2.1rem;
			left: 0;
			padding: .75rem 1.5rem;
			position: absolute;
			margin-top: 2.25rem;
			max-width: 75%;
			top: 0;
			color: #fff;

			a{
				color: #fff;
			}
		}
		img{
		height: auto;
		max-width: 100%;
		width: 1500px;
		}
		.entry-meta{
			background-color: $color_button_background;
			bottom: 0;
			color: #fff;
			display: inline-block;
			padding: 1rem;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			font-size: 0.8rem;
			line-height: 0;
			margin-bottom:6px;
		}
	}
	.entry-content{
		line-height: 1.75rem;
	}
	.entry-footer {
		.cat-links,
		.tags-links,
		a{
			text-transform: uppercase;
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
		}
		a{
			color: $color_button_background;
			&:hover{
				color: #2f1339;
			}
		}
		.cat-links{
			margin-right:30px;
		}
	}
}
	
	
//single product ************************

.single-product .site-content{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 100px;
	display:flex;

	.container{
		display: flex;
		margin-top: 100px;
		.product-image-container{
			flex-basis: 50%;
			img{
				height: auto;
				max-width: 100%;
			}
		}
		.product-info-container{
			flex-basis: 50%;
			padding-left:50px;
			.entry-content{
				margin-top:0;
				p{
					line-height: 1.75rem;
				}
			}
			h1{
				font-family: 'Novecento';
				font-size: 2.5rem;
				color:#d99054;
			}
			.price{
				font-family: 'Novecento';
				font-size: 1.8rem;
				margin-top: 12px;
				margin-bottom: 30px;
			}
		}
	}
}

// archive product shop page **************
.shop-nav-container{
	padding-top:100px;
	width: 1140px;
	height: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-bottom: dashed $color_border_box 1px;
	h1{
		margin:0;
		margin-bottom: 20px;
		font-size: 2.5rem;
		font-family: 'Novecento';
	}
	a{
		color: $color_button_background;
		font-family: 'Novecento';
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-left:18px;
		margin-right:18px;
			&:hover{
				color: #2f1339;
				cursor: pointer;
			}
		}
}
	
.product-flex{
	display: flex;
	width:1140px;
	flex-wrap: wrap;
	margin-left:auto;
	margin-right: auto;
	justify-content: space-between;
	.product-box{
		width:250px;
		border: solid 1px $color_border_box;
		margin-bottom:30px;
		img{
			object-fit: cover;
			width:250px;
			height:250px;
			border-bottom: solid 4px $color_border_box;
		}
		p{
			margin: 0;
		}
		.box-content{
			display: flex;
			justify-content: space-between;
			position: relative;
			padding: 15px;
			font-size: .9rem;

		}
	}
}