/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


// About Page

// .page-template-about .entry-header {
// 	display: flex;
// 	align-content: center;
// 	justify-content: center;
// }
.entry-title {
	margin: 0;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
}
.entry-content{
	margin-left: auto;
    margin-right: auto;
	width: 1120px;
	.container {
		margin-left: 10%;
		margin-right: 10%;
		line-height: 2rem;
		h2{
		text-align: center;
		}
	}
}


//front page
.site-main h2{
	text-align: center;
	font-size: 2.5rem;
	margin-top: 4rem;
	margin-bottom: 4rem; 
	font-family: 'Novecento', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.home-hero {
	min-height: 100vh;
	width: 100%;
	margin: auto;
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg);
	background-size: cover, cover;
	background-repeat: no-repeat;
	img {
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);	
	}
}

.site-main .product-type-box{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	text-align: center;
	line-height: 1.75rem;
	.product-type-box-wrapper{
		border: solid $color_border_box 1px;
		border-top: solid $color_border_box 5px;
		flex-basis: 23.5%;
		padding: 12px;
	}
	img{
		max-height: 70px;
		width: auto;
		max-width: none;
	}
}



.site-main .container{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	margin-bottom: 100px;
	.journal-block{
		height: 400px;
		flex-basis: 32%; 
		border: solid $color_border_box 1px;
		.journal-info{
			padding: 10px;
		}
	}
	img{
			max-height: 250px;
			width: auto;
			// max-width: none;
	}
}