/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title{
	display: none;
	margin: 0;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// HEADER **************
.main-navigation{
	position: fixed;
	display: flex;
	padding-left:11%;
	padding-right:11%;
	height: 50px;
	width:100%;
	background-color: white;
	z-index: 999;
	// background-color: rgba(255,255,255,0.5);
	border-bottom: solid 1px $color_border_box;
	.nav-logo-container{
		flex-basis: 50%;
		img{
			max-height: 40px;
			margin-top: 5px;
		}
	}
	.menu-menu-1-container{
		width:100%;
		flex-basis: 50%;
		ul{
			display: flex;
			justify-content: flex-end;
			
			li{
				margin-top: 14px;
				margin-right: 30px;
				a{
					color:$color_button_background;
					font-family: 'Novecento', Arial, Helvetica, sans-serif;
					&:hover{
						color:$color__link-visited;
					}
				}
			}
		}
	}
}

// About Page***************


.page-template-about .post-10 .entry-title {
	margin: 0;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Novecento', Arial, Helvetica, sans-serif;
	font-size: 3rem;
}
.page-template-about .entry-content{
	margin-left: auto;
    margin-right: auto;
	width: 1000px;
	.container {
		margin-top: 60px;
		margin-left: 10%;
		margin-right: 10%;
		line-height: 2rem;
		h2{
		text-align: center;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 30px;
		}
	}
}


//front page
.site-main h2{
	text-align: center;
	font-size: 2.5rem;
	margin-top: 4rem;
	margin-bottom: 4rem; 
	font-family: 'Novecento', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.home-hero {
	min-height: 100vh;
	width: 100%;
	margin: auto;
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)), url(../../images/home-hero.jpg);
	background-size: cover, cover;
	background-repeat: no-repeat;
	img {
		top: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);	
	}
}

.site-main .product-type-box{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	text-align: center;
	line-height: 1.75rem;
	.product-type-box-wrapper{
		border: solid $color_border_box 1px;
		border-top: solid $color_border_box 5px;
		flex-basis: 23.5%;
		padding: 12px;
		&:hover{
			border: solid $color_footer_head 1px;
			border-top: solid $color_footer_head 5px;
		
		}
		.btn{
			color:white;
			padding: 10px 15px;
			background-color: $color_button_background;
			font-family: 'Novecento', Arial, Helvetica, sans-serif;
			&:hover{
				background-color:darken($color_button_background, 10%);
			}

		}
	}
	img{
		max-height: 70px;
		width: auto;
		max-width: none;
	}
}



.home .site-main .container{
	display: flex;
	justify-content: space-between;
	width: 1120px;
	margin: auto;
	margin-bottom: 100px;
	.journal-block{
		height: 420px;
		flex-basis: 32%; 
		border: solid $color_border_box 1px;
		.journal-info{
			padding: 10px;
			font-size: 0.75rem;
			position: relative;
			.storytitle a{
				color: $color_button_background;
				font-weight: bold;
				font-size: 1.5rem;
				font-family: 'Novecento', Arial, Helvetica, sans-serif;
				margin-bottom: 20px;
				&:hover{
					color:black;
				}
			}
			.readentry {
				color: black;
				border: 1px solid black;
				padding: 10px 25px;
				&:hover{
					background-color: $color_button_background;
					color:white;
					border: none;
				}
			}
		}
	}
	img{
			min-height: 250px;
			max-height: 250px;
			// width: 
			border-bottom: solid $color_border_box 5px;
	}
}
// trying to fix headers of pages so that it doesnt pop over the nav bar
.entry-title,
.page-title {
	margin: 0;
}

//page.php flexbox

.default-template-page{
	display: flex;
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	.page-content{
		width: 74%;
	}
	.sidebar{
		width: 26%;
		border-left: solid $color_border_box 1px;
		padding-left: 50px;
		.widget-title{
			text-align: left;
			font-size: 1.5rem;
			margin-bottom: 0;
			font-weight: bold;
		}
	}
}
